<section class="report-section">
  <h1 class="report-section__title ">Codewars</h1>
  <ul class="report-section__list report-section__banner">
    {{>codewarsSummary}}
  </ul>
  <p class="report-section__authored-kata">Authored kata</p>
  <ul class="report-section__kata">
    {{#each codewarsKatas}}
    {{#if this.success}}
    <li class="report-section__kata-name">
      Kata Name: <a href="{{this.link}}">{{this.name}}</a>
    </li>
    <li class="report-section__kata-item">
      {{#unless this.beta}}
      Kata Rank: {{this.rank}}
      {{else}}
      Kata in Beta
      {{/unless}}
    </li>
    <li class="report-section__kata-item">
      Completions: {{this.completions}}
    </li>
      {{else}}
    <li class="report-section__kata-item">
      {{this.message}}
    </li>
      {{/if}}
    {{/each}}
  </ul>
  <ul>
    <li>
      Kyu Level: {{codewars.kyu}}
    </li>
    <li>
      Honor: {{codewars.honor}}
    </li>
  </ul>
</section>
