<section class="report-section" id="fcc">
  <h1 class="report-section__title">freeCodeCamp</h1>
  <h3 class="report-section__fcc-subtitle">freeCodeCamp: 8 sections</h3>
  <ul class="report-section__list report-section__banner">
    {{#unless freeCodeCamp.success}}
    <li class="report-section__list-item">
      <p class="report-section__prereq">User not found</p>
    </li>
    {{/unless}}
    {{#if freeCodeCamp.success}}

      <li class="report-section__list-item">
        {{#if freeCodeCamp.html}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic HTML and HTML5</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.css}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic CSS</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.responsive}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Responsive Web Design Principles</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.flexbox}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">CSS Flexbox</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.javascript}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic JavaScript</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.es6}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">ES6</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.basicDataStructures}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic Data Structures</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.basicAlgorithmScripting}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic Algorithm Scripting</p>
      </li>

    {{/if}}
</ul>
<p class="report-section__freecodecamp-score">[ {{freeCodeCamp.score}} ]</p>
<a target="_blank" href="https://www.freecodecamp.org/{{freeCodeCamp.handle}}"> <p class="report-section__info-description">freeCodeCamp points</p> </a>
</section>
