<section class="report-section">
  <h1 class="report-section__title">Website & GitHub</h1>
  <ul class="report-section__list">
    {{>githubSummary}}
  </ul>
  <ul>
     {{#if githubCommits.success }}
    <li>{{githubCommits.commits }} commits on this project</li>
    {{else}}
    <li>{{githubCommits.message}}</li>
    {{/if}}
    {{#unless w3Validation.success}}
    <li>{{w3Validation.message}}</li>
    {{/unless}}
    {{#if w3Validation.success}}
    <li>{{w3Validation.errors}} Errors</li>
    <li>and {{w3Validation.other}} other messages at <a href='{{w3Validation.url}}'>W3C HTML Validation</a></li>
    {{/if}}
    {{#if githubRepos.success }}
    <li>{{ githubRepos.repos }} repos on this account</li>
    {{else}}
    <li>{{ githubRepos.message }}</li>
    {{/if}}
  </ul>
  {{>githubCalendar}}
</section>
