<section class="report-section">
  <h1 class="report-section__title">Website & GitHub</h1>
  <ul class="report-section__list report-section__banner">
    {{>githubSummary}}
  </ul>
  <ul>
     {{#if githubCommits.success}}
    <li class="report-section__info-item">
      <h3 class="report-section__info-title">{{githubCommits.commits}} commits</h3>
      <p class="report-section__info-description">on this project</p>
      </li>
    {{else}}
    <li class="report-section__info-item">
      <p class="report-section__info-description report-section__error-message">{{githubCommits.message}}</p>
    </li>
    {{/if}}
    {{#unless w3Validation.success}}
    <li class="report-section__info-item">
      <p class="report-section__info-description report-section__error-message">{{w3Validation.message}}</p>
    </li>
    {{/unless}}
    {{#if w3Validation.success}}
    <li class="report-section__info-item">
      <h3 class="report-section__info-title">{{w3Validation.errors}} Errors</h3>
      <p class="report-section__info-description">and {{w3Validation.other}} other messages on the <a href='{{w3Validation.url}}'>
        <br />
        W3C HTML Validation Service</a></p>
    </li>
    {{/if}}
    {{#if githubRepos.success}}
    <li class="report-section__info-item">
      <h3 class="report-section__info-title">{{githubRepos.repos}} repos</h3>
      <p class="report-section__info-description">on this account</p>
    </li>
    {{else}}
    <li class="report-section__info-item">
      <p class="report-section__info-description report-section__error-message">{{githubRepos.message}}</p>
    </li>
    {{/if}}
  </ul>
  {{>githubCalendar}}
</section>
