<section class="report-section">
  <img class="report-section__summary-logo" src="/images/lightbulb.png">
  <h1 class="report-section__title">Summary</h1>
    <ul class="report-section__list">
      <li class="report-section__list-item">
        {{#if githubPage.success}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Completed">
        <p class="report-section__prereq">Website on GitHub Pages</p>
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Not completed">
        <p class="report-section__prereq">GitHub Page: {{githubPage.message}}</p>
        {{/if}}
      </li>
      <li class="report-section__list-item">
        {{#unless freeCodeCamp.success}}
          <img class="report-section__icon" src="/images/x-mark.svg" alt="Error"><p class="report-section__prereq">freeCodeCamp: {{freeCodeCamp.message}}</p>
        {{/unless}}
        {{#if freeCodeCamp.success}}
          {{#if freeCodeCamp.complete}}
          <img class="report-section__icon" src="/images/check-mark.svg" alt="Completed"><p class="report-section__prereq">freeCodeCamp: 4 sections</p>
        {{else}}
          <img class="report-section__icon" src="/images/x-mark.svg" alt="Not completed"><p class="report-section__prereq">freeCodeCamp: 4 sections</p>
          {{/if}}
        {{/if}}
      </li>
      <li class="report-section__list-item">
        {{#unless codewars.success}}
          <img class="report-section__icon" src="/images/x-mark.svg" alt="Error"><p class="report-section__prereq">Codewars: {{codewars.message}}</p>
        {{/unless}}
        {{#if codewars.success}}
          {{#if codewars.achieved5Kyu}}
          <img class="report-section__icon" src="/images/check-mark.svg" alt="Completed"><p class="report-section__prereq">Codewars: 5 Kyu or better</p>
        {{else}}
          <img class="report-section__icon" src="/images/x-mark.svg" alt="Not completed"><p class="report-section__prereq">Codewars: 5 Kyu or better</p>
          {{/if}}
        {{/if}}
      </li>
    <li class="report-section__list-item">
      {{#unless codewars.success}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Error"><p class="report-section__prereq">Codewars: {{codewars.message}}</p>
      {{/unless}}
      {{#if codewars.hasAuthored}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Completed">
      {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Not completed">
      {{/if}}
      <p class="report-section__prereq">Codewars: authored 1+ Kata</p>
    </li>
  </ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">Website & GitHub</h1>
  <ul class="report-section__list">
    <li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Website on GitHub Pages</p>
</li>
</ul>

  <ul>
    {{#unless w3Validation.success}}
    <li>{{w3Validation.message}}</li>
    {{/unless}}
    {{#if w3Validation.success}}
    <li>{{w3Validation.errors}} Errors</li>
    <li>and {{w3Validation.other}} other messages at <a href='{{w3Validation.url}}'>W3C HTML Validation</a></li>
    {{/if}}
    {{#if githubRepos.success }}
    <li>{{ githubRepos.repos }} repos on this account</li>
    {{else}}
    <li>{{ githubRepos.message }}</li>
    {{/if}}
  </ul>
  {{>githubCalendar}}
</section>

<section class="report-section">
  <h1 class="report-section__title">freeCodeCamp</h1>
  <h3 class="report-section__fcc-subtitle">freeCodeCamp: 4 sections</h3>
  <ul class="report-section__list">
    {{#unless freeCodeCamp.success}}
    <li class="report-section__list-item">
      <p class="report-section__prereq">User not found</p>
    </li>
    {{/unless}}
    {{#if freeCodeCamp.success}}

      <li class="report-section__list-item">
        {{#if freeCodeCamp.htmlCss}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">HTML5 & CSS</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.basicJavaScript}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic JavaScript</p>
      </li>


      <li class="report-section__list-item">
        {{#if freeCodeCamp.oOFunctionalProgramming}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Object Oriented & Functional Programming</p>
      </li>

      <li class="report-section__list-item">
        {{#if freeCodeCamp.basicScripting}}
        <img class="report-section__icon" src="/images/check-mark.svg" alt="Complete">
        {{else}}
        <img class="report-section__icon" src="/images/x-mark.svg" alt="Incomplete">
        {{/if}}
        <p class="report-section__prereq">Basic Algorithm Scripting</p>
      </li>
      
    {{/if}}
</ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">Codewars</h1>
  <ul class="report-section__list">
    <li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Codewars: 5 Kyu or better</p>
</li>
<li class="report-section__list-item">
  <img class="report-section__icon" src="/images/x-mark.svg" alt=""><p class="report-section__prereq">Codewars: authored 1+ Kata</p>
</li>
</ul>
</section>

<section class="report-section">
  <h1 class="report-section__title">Meetup</h1>
</section>
